@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Cairo:wght@400;500;600;700;800&family=Kanit:wght@200;300;400;500;600;800&family=Lato:ital,wght@0,400;0,700;0,900;1,700;1,900&family=Roboto+Condensed:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap");
body {
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --secondry-c: #a12c2f;
  --y-c: #ffc107;
  --b-c: #0d6efd;
  --bs-indigo: #6610f2;
  --p-c: #6f42c1;
  --bs-pink: #d63384;
  --r-c: #dc3545;
  --o-c: #fd7e14;
  --o-s-c: #f5a425;
  --g-c: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --border-color: rgba(250, 250, 250, 0.15);
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.main-button {
  all: unset;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  color: white;
  background-color: var(--secondry-c);
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.25s;
}
.main-button:hover {
  background-color: #a23538;
}

.up-comming-meeting-card {
  background-color: white;
  border-radius: 25px;
  color: black;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.up-comming-meeting-card img {
  width: 100%;
}
.up-comming-meeting-card .card-content {
  padding: 20px;
}
.up-comming-meeting-card .card-content .price {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bolder;
  position: absolute;
  top: 15px;
  left: 20px;
  background-color: rgba(255, 255, 255, 0.868);
}
.up-comming-meeting-card .card-content .price.free {
  background-color: var(--y-c);
  color: white;
}
.up-comming-meeting-card .card-content .month {
  color: var(--secondry-c);
  font-weight: bold;
  margin-bottom: 5px;
}
.up-comming-meeting-card .card-content .day {
  font-weight: bold;
  font-size: 20px;
}
.up-comming-meeting-card .card-content .card-title {
  margin-top: 5px;
  margin-bottom: 15px;
  text-transform: capitalize;
}
.up-comming-meeting-card .card-content .instructor {
  font-weight: 300;
  font-size: 15px;
  color: #777;
  padding-left: 10%;
}
.up-comming-meeting-card .card-content .instructor span {
  display: block;
  padding-bottom: 5px;
}

.main-head {
  text-align: center;
  line-height: 40px;
  margin-bottom: 50px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(250, 250, 250, 0.15);
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

.loading {
  color: white;
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  height: 30px;
  background-color: var(--y-c);
}

::-webkit-scrollbar-track {
  background-color: #f9f9f9;
}

@media (min-width: 576px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 990px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1100px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1250px;
  }
}
.navbar h2 {
  font-size: 30px;
  letter-spacing: 0.2px;
  cursor: pointer;
  color: white;
}
.navbar ul li {
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: white;
}
.navbar ul li a {
  display: block;
  padding: 10px 0;
  transition: all 0.25s ease;
  text-decoration: none;
  color: inherit;
}
.navbar ul li a:hover, .navbar ul li a.active {
  color: var(--y-c);
}
.navbar ul li.pages {
  position: relative;
}
.navbar ul li.pages > a {
  display: flex;
  align-items: center;
  gap: 4px;
}
.navbar ul li.pages svg {
  width: 14px;
  fill: white;
  transition: all 0.25s ease;
}
.navbar ul li.pages ul {
  position: absolute;
  bottom: -100px;
  width: 200px;
  background-color: white;
  left: 0;
  z-index: -10;
  opacity: 0;
  transition: all 0.25s, z-index 1s;
  cursor: none;
}
.navbar ul li.pages ul li:first-child {
  border-bottom: 1px solid #ccc;
}
.navbar ul li.pages ul li a {
  padding-left: 10px;
  font-weight: 400;
}
.navbar ul li.pages:hover svg {
  fill: var(--y-c);
}
.navbar ul li.pages:hover ul {
  bottom: -70px;
  cursor: pointer;
  opacity: 1;
  z-index: 1;
}
.navbar ul li.pages:hover ul li a {
  color: black;
}
.navbar ul li.pages:hover ul li a:hover {
  color: var(--y-c);
}

.navbar .vertical-ul {
  transition: all 0.35s;
  overflow: hidden;
  position: absolute;
  top: 100px;
  background-color: rgba(255, 255, 255, 0.9490196078);
  width: 80%;
  left: 10%;
  gap: 0;
}
.navbar .vertical-ul li {
  display: block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  border-top: 0.3px solid #ccc;
}
.navbar .vertical-ul li a {
  padding: 20px;
  display: block;
}
.navbar .vertical-ul li.pages {
  padding: 0;
}
.navbar .vertical-ul li.pages > a {
  padding: 18px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.navbar .vertical-ul li.pages > a svg {
  fill: black;
}
.navbar .vertical-ul li.pages > a:hover svg {
  justify-self: flex-end;
  fill: var(--y-c);
}
.navbar .vertical-ul li.pages ul {
  overflow: hidden;
  height: 0;
  position: relative;
  top: 0;
  opacity: 1;
  z-index: 1;
  width: 100%;
  background-color: white;
  transition: all 0.25s;
  cursor: none;
}
.navbar .vertical-ul li.pages ul a {
  padding: 0px;
}
.navbar .vertical-ul li.pages ul.show {
  height: 95px;
}
.navbar .vertical-ul li.pages ul li {
  padding: 15px 30px;
}
.navbar .vertical-ul li.pages ul li:first-child {
  border-bottom: 1px solid var(--border-color);
}
.navbar .vertical-ul li.pages ul li a {
  font-weight: 400;
}
.navbar .nav-icon {
  display: block;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.navbar .nav-icon span {
  display: block;
  width: 30px;
  height: 2px;
  position: relative;
  background-color: black;
  border-radius: 3px;
}
.navbar .nav-icon span::after, .navbar .nav-icon span::before {
  content: "";
  position: absolute;
  width: 22px;
  left: 0;
  height: 2px;
  background-color: black;
  border-radius: 3px;
}
.navbar .nav-icon span::before {
  top: 8px;
}
.navbar .nav-icon span::after {
  bottom: 8px;
  height: 1.5px;
}

@media (max-width: 768px) {
  .navbar ul li a,
.navbar h2 {
    color: black;
  }
  nav {
    background-color: white !important;
  }
}
.landing video {
  position: relative;
  min-width: 100%;
  min-height: 100vh;
  max-width: 100%;
  max-height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.landing .text h4 {
  margin-bottom: 10px;
  font-weight: normal;
}
.landing .text h3 {
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: 900;
  text-transform: uppercase;
}
.landing .text h3 p {
  color: var(--y-c);
  display: inline-block;
}
.landing .text p {
  line-height: 1.7;
  color: rgb(253, 253, 253);
}
.landing .text a {
  margin-top: 30px;
}

@media (max-width: 500px) {
  .landing .text h3 {
    font-size: 30px;
  }
}
.landing-card {
  background-image: url("../assets/images/service-item-bg.jpg");
  margin-left: 10px;
  background-size: cover;
  border-radius: 20px;
  padding: 30px 20px;
  width: 290px;
  color: white;
  text-align: center;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0 auto;
}
.landing-card .card-title {
  text-transform: capitalize;
  margin-bottom: 15px;
}
.landing-card .card-body {
  line-height: 1.7;
}

@media (max-width: 768px) {
  .landing-card {
    width: 250px;
  }
}
.horizontl-bar {
  background-image: url("../assets/images/meetings-page-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  margin-top: -5px;
}
.horizontl-bar .alice-carousel {
  transform: translateY(-30%);
}

@media (max-width: 768px) {
  .horizontl-bar {
    padding: 60px 0 0 0;
  }
  .horizontl-bar .alice-carousel {
    transform: translate(0);
  }
}
.up-comming-meetings {
  background-image: url("../assets/images/meetings-page-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.up-comming-meetings .caragories {
  background-color: white;
}
.up-comming-meetings .caragories h3 {
  font-weight: 400;
  text-transform: capitalize;
  padding: 0 0 20px 0;
  border-bottom: 0.3px solid #ccc;
  margin-bottom: 25px;
}
.up-comming-meetings .caragories ul {
  padding-bottom: 20px;
  border-bottom: 0.3px solid #ccc;
}
.up-comming-meetings .caragories ul li {
  padding: 5px 0;
  cursor: pointer;
  transition: all 0.25s;
}
.up-comming-meetings .caragories ul li:hover {
  color: var(--secondry-c);
  padding-left: 5px;
}
.up-comming-meetings .caragories button {
  display: block;
  font-size: 14px;
  margin: 0 auto;
  margin-top: 10px;
}

@media (min-width: 992px) {
  .up-comming-meetings .container {
    flex-direction: row;
  }
}
@media (max-width: 768px) {
  .up-comming-meetings {
    padding-top: 80px;
  }
  .up-comming-meetings .holder {
    flex-direction: column;
    gap: 15px;
  }
  .up-comming-meetings .holder div {
    gap: 30px;
  }
}
.apply-now {
  background-image: url("../assets/images/apply-bg.jpg");
  background-attachment: fixed;
}
.apply-now .apply-now-card h2 {
  margin-bottom: 20px;
}
.apply-now .apply-now-card p {
  line-height: 1.7;
  margin-bottom: 30px;
}

.faq {
  background-color: white;
  padding: 25px 40px;
  border-radius: 30px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 490px;
  min-width: 50%;
  margin-top: 50px;
}
.faq svg {
  width: 20px;
  transform: rotatez(-90deg);
  align-self: flex-start;
  transition: all 0.3s;
}
.faq__accordion {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}
.faq__accordion-button {
  border: none;
  cursor: pointer;
  text-align: left;
  padding: 0px;
  background-color: transparent;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bolder;
  font-size: 22px;
  transition: all 0.25s;
}
.faq__accordion-button:hover {
  color: var(--o-c);
}
.faq__accordion-button.active {
  color: var(--o-c);
}
.faq__accordion-button.active svg {
  fill: var(--o-c);
  transform: rotatez(0);
}
.faq__desc {
  margin-top: 0;
  margin-bottom: 0;
  height: 0;
  overflow: hidden;
  transition: all 200ms ease-out;
}

.faq__desc.show-description {
  height: 7rem;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .apply-now .container {
    flex-direction: column;
  }
}
.courses {
  background-image: url("../assets/images/meetings-page-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.courses .container {
  padding: 0 60px;
}
.courses .course-card {
  width: 230px;
  margin: 0 auto;
  text-transform: capitalize;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.courses .course-card svg {
  fill: var(--o-s-c);
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: all 0.25s;
}
.courses .course-card svg:hover {
  transform: translateY(-5px);
}
.courses .alice-carousel__dots-item {
  transition: all 0.3s;
}
.courses .alice-carousel__dots-item.__active {
  width: 25px;
  border-radius: 5px;
  background-color: #eee !important;
}
.courses .alice-carousel__prev-btn-wrapper,
.courses .alice-carousel__next-btn-wrapper {
  padding: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.courses .alice-carousel__prev-btn,
.courses .alice-carousel__next-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  top: 40%;
  padding: 0;
}
.courses .alice-carousel__prev-btn p,
.courses .alice-carousel__next-btn p {
  padding: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.courses .alice-carousel__prev-btn p::before,
.courses .alice-carousel__next-btn p::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
}
.courses .alice-carousel__prev-btn p span,
.courses .alice-carousel__next-btn p span {
  display: none;
}
.courses .alice-carousel__prev-btn {
  left: -60px;
}
.courses .alice-carousel__prev-btn p::before {
  border: 5px solid black;
  border-right: none;
  border-top: none;
  transform: rotate(45deg);
}
.courses .alice-carousel__next-btn {
  right: -60px;
}
.courses .alice-carousel__next-btn p::before {
  border: 5px solid black;
  border-left: none;
  transform: rotate(45deg);
  border-bottom: none;
}
.courses .price {
  font-weight: bolder;
  color: var(--secondry-c);
}

@me;
.uni-facts-sec {
  background-image: url("../assets/images/facts-bg.jpg");
  background-size: cover;
}
.uni-facts-sec h1 {
  color: white;
  margin-bottom: 90px;
  font-size: 46px;
  font-weight: 700;
}
.uni-facts-sec .facts-card {
  display: flex;
  flex-direction: column;
  gap: 16;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  background-color: rgba(250, 250, 250, 0.2);
  padding: 30px;
  min-width: 220px;
  max-width: 225px;
  text-align: center;
}
.uni-facts-sec .facts-card h2 {
  font-size: 40px;
  font-weight: bolder;
  color: var(--o-s-c);
}
.uni-facts-sec .facts-card P {
  color: white;
  font-size: 22px;
  font-weight: bold;
}
.uni-facts-sec .image {
  max-width: 500px;
  display: flex;
  align-items: center;
}
.uni-facts-sec .image img {
  border-radius: 25px;
  width: 100%;
  cursor: pointer;
}
.uni-facts-sec .image .play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
}

@media (max-width: 992px) {
  .uni-facts-sec .container {
    flex-direction: column;
    align-items: center;
  }
  .uni-facts-sec .left {
    padding: 20px;
  }
  .uni-facts-sec .left .holder {
    justify-content: center;
  }
}
@media (max-width: 520px) {
  .uni-facts-sec .left .holder {
    flex-direction: column;
    gap: 0;
  }
  .uni-facts-sec .left .holder .facts-card {
    width: 100%;
    max-width: 100%;
  }
}
.contact-us-sec {
  background-image: url("../assets/images/meetings-page-bg.jpg");
  background-attachment: fixed;
  background-size: cover;
}
.contact-us-sec form {
  margin: auto 0;
  background-color: white;
  border-radius: 30px;
  padding: 30px;
}
.contact-us-sec form h1 {
  text-transform: uppercase;
  padding-bottom: 25px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 40px;
}
.contact-us-sec form .field {
  min-width: 150px;
}
.contact-us-sec form input,
.contact-us-sec form textarea {
  all: unset;
  width: 180px;
  background-color: #f7f7f7;
  border-radius: 20px;
  padding: 15px;
  font-size: 13px;
  font-weight: 500;
  color: #7a7a7a;
}
.contact-us-sec form textArea {
  width: calc(100% - 30px);
  height: 8rem;
  margin-bottom: 2rem;
}
.contact-us-sec form ::-moz-placeholder {
  color: rgb(12, 12, 12);
}
.contact-us-sec form :-ms-input-placeholder {
  color: rgb(12, 12, 12);
}
.contact-us-sec form ::placeholder {
  color: rgb(12, 12, 12);
}
.contact-us-sec .right {
  background-color: var(--secondry-c);
}
.contact-us-sec .right h4 {
  margin-bottom: 20px;
  text-transform: capitalize;
}
.contact-us-sec .right a,
.contact-us-sec .right span,
.contact-us-sec .right address {
  text-decoration: none;
  text-transform: none;
  color: white;
  font-weight: bolder;
  font-size: 18px;
}

@media (max-width: 600px) {
  .contact-us-sec form input {
    display: block;
    width: 90%;
  }
}
@media (max-width: 768px) {
  .contact-us-sec .container {
    flex-direction: column;
  }
  .contact-us-sec .container .right {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
  .contact-us-sec .container .right div {
    min-width: 225px;
    border: none;
    padding-right: 20px;
    border-right: 1px solid #f7f7f7;
  }
}
@media (max-width: 572px) {
  .contact-us-sec .container .right div {
    width: 100%;
    min-width: 200px;
    border: none;
    padding-right: 0;
    border-bottom: 1px solid #f7f7f7;
  }
}
.footer {
  border-top: 1px solid var(--border-color);
  line-height: 1.6;
  background-image: url("../assets/images/meetings-page-bg.jpg");
  background-attachment: fixed;
  background-size: cover;
}
.footer span {
  color: var(--o-c);
}

.page-landing {
  padding: 0 0 100px 0;
  background-image: url(../assets/images/meetings-page-bg.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}
.page-landing .up-comming-meeting-card {
  max-width: 290px;
}
.page-landing .meetings-category {
  text-transform: capitalize;
  background-color: white;
  color: var(--secondry-c);
  border-radius: 20px;
  padding: 8px 20px;
  cursor: pointer;
  transition: all 0.3s;
}
.page-landing .meetings-category:hover {
  background-color: var(--secondry-c);
  color: white;
}
.page-landing .meetings-category.active {
  background-color: var(--secondry-c);
  color: white;
}

.meeting-details-card {
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  background-color: white;
  padding-bottom: 50px;
}
.meeting-details-card .image {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.meeting-details-card .image .price,
.meeting-details-card .image .date {
  display: block;
  font-size: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bolder;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.868);
}
.meeting-details-card .image .price {
  top: 15px;
  left: 20px;
}
.meeting-details-card .image .price.free {
  background-color: var(--y-c);
  color: white;
}
.meeting-details-card .image .date {
  right: 20px;
  top: 15px;
}
.meeting-details-card .image .date .month {
  color: var(--secondry-c);
  margin-bottom: 5px;
}
.meeting-details-card .image .date .day {
  font-size: 20px;
}
.meeting-details-card .image img {
  width: 100%;
}
.meeting-details-card .content {
  padding: 35px;
  color: #1f272b;
}
.meeting-details-card .content .title {
  text-transform: capitalize;
  font-weight: 500;
  margin-bottom: 10px;
  color: black;
}
.meeting-details-card .content .description {
  margin: 30px 0;
  padding: 30px 0;
  border: 1px solid #eee;
  border-left: none;
  border-right: none;
  line-height: 1.6;
}
.meeting-details-card .content .description .main-description {
  margin-bottom: 30px;
}
.meeting-details-card .content h3 {
  margin-bottom: 10px;
  font-weight: 800;
  text-transform: capitalize;
}
.meeting-details-card .content .detail {
  flex-basis: 250px;
}
.meeting-details-card .content .notes {
  list-style: disc;
  list-style-position: inside;
}
.meeting-details-card .content .notes li {
  padding: 5px 0;
}
.meeting-details-card .content .share {
  color: var(--secondry-c);
  cursor: pointer;
}

@media (max-width: 768px) {
  * {
    cursor: default !important;
    background-attachment: unset !important;
  }
}/*# sourceMappingURL=main.css.map */