.courses {
  background-image: url("../assets/images/meetings-page-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  .container {
    padding: 0 60px;
  }
  .course-card {
    width: 230px;
    margin: 0 auto;
    text-transform: capitalize;

    user-select: none;
    svg {
      fill: var(--o-s-c);
      width: 20px;
      height: 20px;
      cursor: pointer;
      transition: all 0.25s;
      &:hover {
        transform: translateY(-5px);
      }
    }
  }
  .alice-carousel__dots-item {
    transition: all 0.3s;
    &.__active {
      width: 25px;
      border-radius: 5px;
      background-color: #eee !important;
    }
  }
  .alice-carousel__prev-btn-wrapper,
  .alice-carousel__next-btn-wrapper {
    padding: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;

    cursor: pointer;
  }
  .alice-carousel__prev-btn,
  .alice-carousel__next-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    top: 40%;
    padding: 0;
    p {
      padding: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      &::before {
        content: "";
        display: block;
        width: 10px;
        height: 10px;
      }
      span {
        display: none;
      }
    }
  }
  .alice-carousel__prev-btn {
    left: -60px;
    p::before {
      border: 5px solid black;
      border-right: none;
      border-top: none;
      transform: rotate(45deg);
    }
  }
  .alice-carousel__next-btn {
    right: -60px;
    p::before {
      border: 5px solid black;
      border-left: none;
      transform: rotate(45deg);
      border-bottom: none;
    }
  }
  .price {
    font-weight: bolder;
    color: var(--secondry-c);
  }
}
@me;
